<div class="container-fluid mt-3 maincontent">
    <div class="list-group">
        {% for movie in movies %}
        <div class="list-group-item flex-column align-items-start py-3 panel {% if movie.in_user_list %}bg-light{% endif %}">
            <div class="d-flex w-100 justify-content-between">
                {% if movie.poster_path %}
                    <img src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" alt="{{ movie.title }}" class="mr-3 align-self-center" style="height: 92px;">
                {% else %}
                    <img src="https://critics.io/img/movies/poster-placeholder.png" alt="{{ movie.title }}" class="mr-3 align-self-center" style="height: 92px;">
                {% endif %}
                <div class="flex-grow-1">
                    <h5 class="mb-1">{{ movie.title }}</h5>
                    <p class="mb-1 overview">{{ movie.overview|truncatechars:150 }}</p>
                    <small class="text-muted">Release date: {{ movie.release_date }}</small><br>
                    <small class="text-muted">Rating: {{ movie.vote_average }}/10</small>
                </div>
                <div class="actioncontainer">
                    <a href="https://www.themoviedb.org/movie/{{movie.id}}" target="_blank" class="align-self-center btn btn-info detailsbutton" data-id="{{movie.id}}">More details</a><br>
                    {% if user.is_authenticated %}
                        {% if movie.in_user_list %}
                            <button class="align-self-center btn btn-danger togglelistbutton" data-id="{{ movie.id }}" data-title="{{ movie.title|truncatechars:255 }}" data-poster-path="{{movie.poster_path}}" data-overview="{{movie.overview|truncatechars:150}}" data-release-date="{{movie.release_date}}" data-vote-average="{{movie.vote_average}}">Remove Favorite</button>
                        {% else %}
                            <button class="align-self-center btn btn-success togglelistbutton" data-id="{{ movie.id }}" data-title="{{ movie.title|truncatechars:255 }}" data-poster-path="{{movie.poster_path}}" data-overview="{{movie.overview|truncatechars:150}}" data-release-date="{{movie.release_date}}" data-vote-average="{{movie.vote_average}}">Add to Favorites</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% if total_pages %}
            <div class="pagingbuttons">
                {% if current_page > 1 %}
                <a href="{{ request.path }}?page={{ current_page|add:"1" }}{% if queryString %}&query={{queryString}}{% endif %}">
                    <button class="align-self-center btn btn-primary pagingbutton">Previous</button></a>
                {% endif %}
                {% if current_page < total_pages %}
                <a href="{{ request.path }}?page={{ current_page|add:"1" }}{% if queryString %}&query={{queryString}}{% endif %}">
                    <button class="align-self-center btn btn-primary pagingbutton">Next</button></a><br>
                {% endif %}
                <small>{{ current_page }}/{{ total_pages }}</small>
            </div>
        {% endif %}
    </div>
</div>