<div class="container-fluid mt-3 maincontent">
    <div class="list-group">
        {% for movie in movies %}
        <div>
            {% for key, value in movie.items %}
                <p><strong>{{ key }}:</strong> {{ value }}</p>
            {% endfor %}
        </div>
        <div class="list-group-item flex-column align-items-start py-3">
            <div class="d-flex w-100 justify-content-between">
                {% if movie.poster_path %}
                <img src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" alt="{{ movie.title }}" class="mr-3 align-self-center" style="height: 92px;">
                {% endif %}
                <div class="flex-grow-1">
                    <h5 class="mb-1">{{ movie.title }}</h5>
                    <p class="mb-1">{{ movie.overview|truncatechars:150 }}</p>
                    <small class="text-muted">Release date: {{ movie.release_date }}</small><br>
                    <small class="text-muted">Rating: {{ movie.vote_average }}/10</small>
                </div>
                <div class="actioncontainer">
                    <a href="#" class="align-self-center btn btn-primary detailsbutton" data-id="{{movie.id}}">More details</a><br>
                    {% if user.is_authenticated %}
                        {% if movie.in_user_list %}
                            <button class="align-self-center btn btn-primary togglelistbutton" data-id="{{ movie.id }}">Remove from Favorites</button>
                        {% else %}
                            <button class="align-self-center btn btn-primary togglelistbutton" data-id="{{ movie.id }}" data-title="{{ movie.title|truncatechars:255 }}" data-poster-path="{{movie.poster_path}}" data-overview="{{movie.overview|truncatechars:150}}" data-release-date="{{movie.release_date}}" data-vote-average="{{movie.vote_average}}">Add to Favorites</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>